@import "tailwindcss";

@theme {
  --color-quokka-purple: #3F144E;
  --color-quokka-lavender: #BBBEF6;
  --font-nunito: var(--font-nunito);
  --font-noto-sans: var(--font-noto-sans);
}


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}


html,
body {
  height: 100%;
}
